:root {
  --cal-401k-table-left-bgcolor: #d4e0f1;
  --cal-401k-table-right-bgcolor: #e1f1dd;
}

#calculator-401k {
  font-size: 1rem;
}

#calculator-401k table#calculator-401k-upper-table {
  width: 100%;
  border-collapse: collapse;
}

#calculator-401k table#calculator-401k-upper-table thead th {
  text-align: left;
  padding: 0 10px;
}

#calculator-401k table#calculator-401k-upper-table thead th:nth-child(1) {
  background-color: #2a4381;
  color: #fff;
}

#calculator-401k table#calculator-401k-upper-table thead th:nth-child(2) {
  background-color: #336128;
  color: #fff;
}

#calculator-401k table#calculator-401k-upper-table tbody td {
  text-align: right;
  padding: 5px 7px;
}

#calculator-401k table#calculator-401k-upper-table tbody td:nth-child(1),
#calculator-401k table#calculator-401k-upper-table tbody td:nth-child(2) {
  background-color: var(--cal-401k-table-left-bgcolor);
  width: 25%;
}

#calculator-401k table#calculator-401k-upper-table tbody td:nth-child(2) {
  width: 10%;
}

#calculator-401k table#calculator-401k-upper-table tbody td:nth-child(3),
#calculator-401k table#calculator-401k-upper-table tbody td:nth-child(4),
#calculator-401k table#calculator-401k-upper-table tbody td:nth-child(5) {
  background-color: var(--cal-401k-table-right-bgcolor);
  width: 20%;
}

#calculator-401k table#calculator-401k-upper-table tbody td:nth-child(3) {
  width: 5%;
}

#calculator-401k table#calculator-401k-upper-table tbody td:last-child {
  width: 10%;
}

#calculator-401k table#calculator-401k-upper-table tbody td [type="text"] {
  width: 100%;
}

#calculator-401k table#calculator-401k-upper-table tbody td select {
  width: 100%;
  text-align: center;
}

[data-cell="E5"],
[data-cell="E6"],
[data-cell="H5"] {
  text-align: center !important;
}

[data-cell="E7"],
[data-cell="H7"],
[data-cell="E11"],
[data-cell="H11"],
[data-cell="E16"] {
  border-bottom: 1px solid black;
}

[data-cell="F7"],
[data-cell="F11"],
[data-cell="F15"],
[data-cell="F16"] {
  background-color: var(--cal-401k-table-right-bgcolor) !important;
  width: 5% !important;
}

[data-cell="E15"] {
  color: red;
}

#calculator-401k #calculator-401k-middle-table {
  width: 100%;
}

#calculator-401k #calculator-401k-middle-table td:nth-child(1) {
  width: 60%;
}

#calculator-401k #calculator-401k-middle-right-table {
  width: 100%;
}

#calculator-401k #calculator-401k-middle-right-table td:nth-child(2) {
  border: 1px solid black;
  text-align: right;
}

#calculator-401k #calculator-401k-middle-right-table select {
  width: 100%;
  text-align: right;
}

[data-cell="H25"] {
  background-color: #f3f0e4;
}